USE [master]
GO
/****** Object:  Database [company_delta_flow]    Script Date: 11/10/2020 9:07:45 PM ******/
CREATE DATABASE [company_delta_flow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'company_delta_flow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\company_delta_flow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'company_delta_flow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\company_delta_flow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [company_delta_flow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [company_delta_flow]
GO
USE [company_delta_flow]
GO
/****** Object:  Table [dbo].[delta_answer]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_answer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsCorrect] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[QuestionId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delta_configure_user_quiz]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_configure_user_quiz](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IsExpired] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[UserId] [bigint] NULL,
	[QuizId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delta_question]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_question](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NULL,
	[QuizId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delta_quiz]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_quiz](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[PassPercentage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delta_user]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_user](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delta_user_quiz_result]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delta_user_quiz_result](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TotalQuestion] [int] NOT NULL,
	[TotalAttempted] [int] NOT NULL,
	[TotalCorrect] [int] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[UserId] [bigint] NULL,
	[QuizId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[delta_answer] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[delta_answer] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_configure_user_quiz] ADD  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[delta_configure_user_quiz] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_question] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_quiz] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_quiz] ADD  DEFAULT ((40)) FOR [PassPercentage]
GO
ALTER TABLE [dbo].[delta_user] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[delta_user] ADD  DEFAULT ('Male') FOR [Gender]
GO
ALTER TABLE [dbo].[delta_user] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_user_quiz_result] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[delta_answer]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[delta_question] ([Id])
GO
ALTER TABLE [dbo].[delta_configure_user_quiz]  WITH CHECK ADD FOREIGN KEY([QuizId])
REFERENCES [dbo].[delta_quiz] ([Id])
GO
ALTER TABLE [dbo].[delta_configure_user_quiz]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[delta_user] ([Id])
GO
ALTER TABLE [dbo].[delta_question]  WITH CHECK ADD FOREIGN KEY([QuizId])
REFERENCES [dbo].[delta_quiz] ([Id])
GO
ALTER TABLE [dbo].[delta_user_quiz_result]  WITH CHECK ADD FOREIGN KEY([QuizId])
REFERENCES [dbo].[delta_quiz] ([Id])
GO
ALTER TABLE [dbo].[delta_user_quiz_result]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[delta_user] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[dsp_deleteAnswerById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_deleteAnswerById]
(
@Id bigint
)
as 
begin
	delete from delta_answer where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_deleteQuestionById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_deleteQuestionById]
(
@Id bigint
)
as 
begin
	delete from delta_question where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_deleteQuizById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_deleteQuizById]
(
@Id bigint
)
as 
begin
	delete from delta_quiz where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_deleteUserAndQuizConfigByQuizId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_deleteUserAndQuizConfigByQuizId]
(
@QuizId bigint
)
as 
begin
	delete from delta_configure_user_quiz where QuizId = QuizId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_deleteUserAndQuizConfigByUserId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_deleteUserAndQuizConfigByUserId]
(
@UserId bigint
)
as 
begin
	delete from delta_configure_user_quiz where UserId = @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getAnserList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getAnserList]
as 
begin
	select * from delta_answer
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getAnswerById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getAnswerById](
@Id bigint
)
as 
begin
	select * from delta_answer where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getAnswerListByQuestionId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getAnswerListByQuestionId](
@QuestionId bigint
)
as 
begin
	select * from delta_answer where QuestionId = @QuestionId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getQuestionById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getQuestionById](
@Id bigint
)
as 
begin
	select * from delta_question where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getQuestionList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getQuestionList]
as 
begin
	select * from delta_question
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getQuestionListByQuizId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getQuestionListByQuizId](
@QuizId bigint
)
as 
begin
	select * from delta_question where QuizId = QuizId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getQuizById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getQuizById](
@Id bigint
)
as 
begin
	select * from delta_quiz where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getQuizList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getQuizList]
as 
begin
	select * from delta_quiz
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getUserAndQuizList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getUserAndQuizList]
as 
begin
	select * from delta_configure_user_quiz
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getUserAndQuizListByQuizId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[dsp_getUserAndQuizListByQuizId](
@QuizId bigint
)
as 
begin
	select dq.UserId, u.Email, u.Gender,
	u.FullName, dq.QuizId, dq.IsExpired  from delta_user u
	inner join delta_configure_user_quiz dq on u.Id = dq.UserId
	 where dq.QuizId = @QuizId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getUserAndQuizListByUserId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getUserAndQuizListByUserId](
@UserId bigint
)
as 
begin
	select dq.UserId, u.Email, u.Gender,
	u.FullName, dq.QuizId, dq.IsExpired  from delta_user u
	inner join delta_configure_user_quiz dq on u.Id = dq.UserId
	 where dq.UserId = @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getUserQuizResultList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getUserQuizResultList]
as 
begin
	select * from delta_user_quiz_result
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_getUserQuizResultListByUserId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_getUserQuizResultListByUserId]
(
@UserId bigint
)
as 
begin
	select * from delta_user_quiz_result where UserId = @UserId order by CreatedOn desc
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_insertAnswer]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_insertAnswer](
@Name nvarchar(300),
@Description nvarchar(1000),
@IsCorrect bit,
@QuestionId bigint
)
as 
begin
	insert into delta_answer(Name, Description, IsCorrect, QuestionId)
	values (@Name, @Description, @IsCorrect, @QuestionId)
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_insertConfigureQuizUser]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_insertConfigureQuizUser](
@IsExpired bit,
@UserId bigint,
@QuizId bigint
)
as 
begin
	insert into delta_configure_user_quiz(IsExpired, UserId, QuizId)
	values (@IsExpired, @UserId, @QuizId)
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_insertQuestion]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_insertQuestion](
@Name nvarchar(300),
@Description nvarchar(1000),
@QuizId bigint
)
as 
begin
	insert into delta_question(Name, Description, QuizId)
	values (@Name, @Description, @QuizId)
end
GO
/****** Object:  StoredProcedure [dbo].[dsp_insertQuiz]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsp_insertQuiz](
@Name nvarchar(300),
@PassPercentage int
)
as 
begin
	insert into delta_quiz(Name, PassPercentage)
	values (@Name, @PassPercentage)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_deleteUserById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_deleteUserById]
(
@Id bigint
)
as 
begin
	delete from delta_user where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_deleteUserQuizResultByQuizId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_deleteUserQuizResultByQuizId]
(
@QuizId bigint
)
as 
begin
	delete from delta_user_quiz_result where QuizId = @QuizId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_deleteUserQuizResultByUserId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_deleteUserQuizResultByUserId]
(
@UserId bigint
)
as 
begin
	delete from delta_user_quiz_result where UserId = @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_getQuizByUserId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getQuizByUserId] (
	@UserId bigint
	)
AS
BEGIN
	select da.Id As 'AnswerId', da.name as 'Answer', da.IsCorrect,
	dq.Id as 'QuestionId', dq.Name as 'Question', dq.Description as 'QuestionDetails',
	d.Id as 'QuizId', d.Name as 'QuizName', d.PassPercentage,
	uq.UserId as 'UserId' from delta_answer da
left join delta_question dq on da.QuestionId = dq.Id
left join delta_quiz d on dq.QuizId = d.Id
left join delta_configure_user_quiz uq on uq.QuizId = d.Id
where uq.UserId = @UserId and uq.isexpired = 0
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByEmail]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetUserByEmail] (
	@email nvarchar(300)
	)
AS
BEGIN
	select Id, email, fullname, gender
	from delta_user
	where email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[usp_getUserList]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_getUserList]
as 
begin
	select Id, FullName, Email, EmailVerified, Gender, CreatedOn from delta_user
end
GO
/****** Object:  StoredProcedure [dbo].[usp_insertUserQuizResult]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_insertUserQuizResult](
	@TotalQuestion int,
	@TotalAttempted int,
	@TotalCorrect int,
	@UserId bigint,
	@QuizId bigint
)
as
begin
	insert into delta_user_quiz_result(TotalQuestion, TotalAttempted
	, TotalCorrect, UserId, QuizId)
	values(@TotalQuestion,
	@TotalAttempted,
	@TotalCorrect,
	@UserId,
	@QuizId)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_signInUserByUserNameAndPassword]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_signInUserByUserNameAndPassword] (
	@Email NVARCHAR(300)
	,@Password NVARCHAR(MAX)
	)
AS
BEGIN
	SELECT fullname, email, EmailVerified, gender
	FROM delta_user
	WHERE email = @email
		AND password = @password
END
GO
/****** Object:  StoredProcedure [dbo].[usp_signUpUser]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--CREATE TABLE delta_user (
--	Id BIGINT IDENTITY(1, 1) PRIMARY KEY
--	,FullName NVARCHAR(100) NOT NULL
--	,Email NVARCHAR(300) NOT NULL
--	,Gender NVARCHAR(10) NOT NULL default('Male')
--	,Password NVARCHAR(MAX) NOT NULL
--	,CreatedOn DATETIME DEFAULT(getdate())
--	)

--INSERT INTO delta_user (
--	FullName
--	,Email
--	,Gender
--	,Password
--	)
--VALUES (
--	'Bijay Kumar Yadav'
--	,'b@b.com'
--	,'Male'
--	,1234
--	)

--CREATE PROCEDURE usp_signInUserByUserNameAndPassword (
--	@Email NVARCHAR(300)
--	,@Password NVARCHAR(MAX)
--	)
--AS
--BEGIN
--	SELECT fullname
--	FROM delta_user
--	WHERE email = @email
--		AND password = @password
--END

CREATE PROCEDURE [dbo].[usp_signUpUser] (
	@FullName NVARCHAR(100)
	,@Email NVARCHAR(300)
	,@Gender NVARCHAR(10)
	,@Password NVARCHAR(MAX)
	)
AS
BEGIN
	INSERT INTO delta_user (
	FullName
	,Email
	,Gender
	,Password
	)
VALUES (
	@FullName
	,@Email
	,@Gender
	,@Password
	)
END

SELECT *
FROM delta_user;

--drop table delta_user;
GO
/****** Object:  StoredProcedure [dbo].[usp_updateAnswerById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateAnswerById]
(
@Id bigint,
@Name nvarchar(300),
@Description nvarchar(1000),
@IsCorrect bit
)
as
begin
	update delta_answer
	set Name = @Name,
	 Description = @Description,
	 IsCorrect = @IsCorrect
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_updateQuestionById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateQuestionById]
(
@Id bigint,
@Name nvarchar(300),
@Description nvarchar(1000)
)
as
begin
	update delta_question
	set Name = @Name,
	 Description = @Description
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_updateQuizById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateQuizById]
(
@Id bigint,
@Name nvarchar(300),
@PassPercentage int
)
as
begin
	update delta_quiz
	set Name = @Name,
	 PassPercentage = @PassPercentage
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_updateUserById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateUserById]
(
@Id bigint,
@FullName nvarchar(100),
@Email nvarchar(300),
@EmailVerified bit,
@Gender nvarchar(10)
)
as
begin
	update delta_user
	set FullName = @FullName,
	 Email = @Email,
	 EmailVerified = @EmailVerified,
	 Gender = @Gender
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_updateUserQuizConfigById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateUserQuizConfigById]
(
@Id bigint,
@IsExpired bit
)
as 
begin
	update delta_configure_user_quiz
	set IsExpired = @IsExpired
	where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[usp_updateUserQuizConfigByUserIdAndQuizId]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_updateUserQuizConfigByUserIdAndQuizId]
(
@UserId bigint,
@QuizId bigint,
@IsExpired bit
)
as 
begin
	update delta_configure_user_quiz
	set IsExpired = @IsExpired
	where UserId = @UserId and QuizId = @QuizId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_userExistsByEmail]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_userExistsByEmail] (
	@Email NVARCHAR(300)
	)
AS
BEGIN
	SELECT fullname
	FROM delta_user
	WHERE email = @email
END
GO
/****** Object:  StoredProcedure [dbo].[usp_verifyUserById]    Script Date: 11/10/2020 9:07:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_verifyUserById] (
	@Id bigint
	)
AS
BEGIN
	update delta_user
set EmailVerified = 1
where Id = @Id
END

GO
USE [master]
GO
